<header>
  <div class="row">
  <div class="small-4 columns">
  Pharmacy Hours Mon - Sat 9 - 7
  Sundays and Holidays 10 - 5
</div>
</div>
</header>

<div class="off-canvas-wrap" data-offcanvas>
<div class="inner-wrap">
<nav class="tab-bar">
  <section class="left-small">
    <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
  </section>
  <section class="middle tab-bar-section">
    <h1 class="title">Indy Pharmacy</h1>
  </section>
  <section class="right-small">
    <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
  </section>
</nav>
<aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Indy Pharmacy</label></li>
        <li><a href="/">Home</a></li>
        <li><a href="welcome/Pharmacy">Pharmacy</a></li>
        <li><a href="#">Topics</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
</aside>
<aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Indy Pharmacy </label></li>
        <li><%= link_to "Manage Posts", "/admin" %></li>
        <li><a href="#">Refills</a></li>
        <li><a href="#">Transfers</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Deliver my RX</a></li>
      </ul>
</aside>
<section class="main-section">
  <%= image_tag ('http://baerlaw.com/wp-content/uploads/2015/03/rxjpg1.jpg') %>

</section>
<a class="exit-off-canvas"></a>
<div>
<div>
