<ul data-orbit data-options="pause_on_hover:false; timer_speed:2500">
  <li> <img src="http://www.chaindrugreview.com/wp-content/uploads/2015/01/pharmacy-4.jpg" alt=Pharmac1/> </li>
  <li> <img src="http://www.howtobecomeapharmacytech.org/wp-content/uploads/2013/12/pharmacy-technician-job-description.jpg?0b516b" alt=Pharmacy2/> </li>
  <li> <img src="http://grahampharmacy.com/Images/Pharmacy-2.jpg" alt=Pharmacy3/> </li>
</ul>
