<div class="row">
  <div class="large-2 columns">

      <ul class="stack button-group round even-5">
        <li><a href="#" >Refills</a></li>
        <li><a href="#" >Prescription</a></li>
        <li><a href="#" >Vitamins</a></li>
        <li><a href="#" >Compounding</a></li>
        <li><a href="#" >Delivery</a></li>
      </ul>

  </div>
  <div class="large-10 columns">
    <ul data-orbit data-options="pause_on_hover:false; timer_speed:2500">
      <li> <img src="http://www.chaindrugreview.com/wp-content/uploads/2015/01/pharmacy-4.jpg" alt=Pharmac1/> </li>
      <li> <img src="http://www.howtobecomeapharmacytech.org/wp-content/uploads/2013/12/pharmacy-technician-job-description.jpg?0b516b" alt=Pharmacy2/> </li>
      <li> <img src="http://grahampharmacy.com/Images/Pharmacy-2.jpg" alt=Pharmacy3/> </li>
    </ul>

  <div class="row">
    <div class="large-4 columns">
      <a class="th">
        <img src="https://www.weismarkets.com/wordpress/wp-content/uploads/2012/03/pharmacy-careers.jpg">
        <p>Take a tour of ou pharmacy. Serving area since 1898</p>
      </a>
    </div>
    <div class="large-4 columns">
      <a class="th">
        <img src="http://www.somersetpharmacy.ca/wp-content/uploads/2011/05/friendly.jpg">
        <p>Most Trusted Profession</p>
        <p>Delivery on time</p>
      </a>
    </div>
    <div class="large-4 columns">
      <a class="th">
        <img src="http://bestaidpharmacyrx.com/wp-content/uploads/2013/02/pharmacy_services.jpg" >
        <p>Pharmacy is open 7 days a week</p>
        <p>Quick Service, Friendly Staff</p>
      </a>
    </div>
  </div>
</div>

</div>
